@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply w-full rounded-lg border border-gray-300 px-4 py-2 focus:ring-2 focus:ring-indigo-500 focus:outline-none;
}

.label {
    @apply block text-sm font-medium mb-1;
}
